.level {
	display: flex;

	&.space-between {
		justify-content: space-between;
	}

	.flex {
		flex: 1;

		&.right {
			text-align: right;
		}

		&.left {
			text-align: left;
		}

		&.center {
			text-align: center;
		}
	}
}

.text-center {
	text-align: center;
}

.image-preload {
	position: absolute;
	z-index: -10;
	opacity: 0;
}

[v-cloak] {
	display: none;
}

.logo-center {
	margin: 0px auto;
	width: 336px;
	height: 155px;
	background: url('/img/logo.svg') no-repeat center;
	background-size: 336px 155px;
}