.container {
	width: 100%;
	box-sizing: border-box;
	margin: 0px auto;
	padding: 0px $site-margin;
	max-width: $site-width + ($site-margin * 2);
	position: relative;

	&.container-lg {
		max-width: 964px;
	}

	&.sep {
		margin: 236px auto;
	}
}