.list {
	list-style: none;
	margin: 0px;
	padding: 0px;

	li {
		display: flex;
		justify-content: space-between;
		padding: 20px 0px;
		border-bottom: 1px solid $border-color;

		a {
			width: 100%;
			display: flex;
			justify-content: space-between;
			color: $text-dark;
			text-decoration: none;
			flex: 1;
		}

		span {
			font-size: 32px;

			@media(max-width: $mobile-width) {
				font-size: 27px;
			}

			&.light {
				color: $text-light;
				text-align: right;
			}
		}

		&.title {
			border: none;
			padding: 0px;
			margin-bottom: 28px;
			font-size: 20px;
			color: $text-light;

			@media(max-width: $mobile-width) {
				font-size: 18px;
			}
		}
	}


}