.section-container {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
}

.section {
	position: relative;
	width: 100%;
	height: 100%;

	&.top {
		z-index: 2;
	}

	&.has-background {
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #fff;
		background-position: center;
	}

	&.centered {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	&.spaced {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
	}
}