.item {

	&.top {
		z-index: 2;
	}

	&.push {
		padding-top: 236px;
		padding-bottom: 236px;
	}

	&.push-top {
		padding-top: 70px;
	}

	&.has-background {
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #fff;
		background-position: center;
	}

	&.centered {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	&.spaced {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
	}
}

.grey-area {
	background-color: #F5F5F5;
	overflow: auto;

	.level {
		align-items: center;
   		justify-content: flex-start;
	}

	img {
		max-width: 100%;
		margin-right: 100px;

		&:last-child {
			padding-right: 6wv;
		}

		&:first-child {
			padding-right: 0px;
		}
	}
}