@import "utils/variables";
@import "utils/fonts";
@import "utils/helpers";
@import "utils/typography";

@import "components/section";
@import "components/header";
@import "components/container";
@import "components/list";
@import "components/nav";

@import "pages/landing";
@import "pages/study";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

.loop-container {
	width: 100%;
	overflow-x: hidden;
}