// Fonts
$text-font-stack: 'Roboto', 'Helvetica Neue', sans-serif !default;
$text-weight-light: 300 !default;
$text-weight-regular: 400 !default;
$text-weight-medium: 500 !default;
$text-weight-bold: 700 !default;

// Type
$text-size-p: 20px !default;

// Colors
$text-white: #FFFFFF !default;
