// Fonts
$text-font-stack: 'Roboto', 'Helvetica', sans-serif !default;
$text-weight-light: 300 !default;
$text-weight-regular: 400 !default;
$text-weight-medium: 500 !default;
$text-weight-bold: 700 !default;

// Colors

.t-white { color: $text-white }

// Align

.text-center { text-align: center }
.text-right { text-align: right }

//Flexbox m8
.level {
	display: flex;
	align-items: center;

	&.space-between {
		justify-content: space-between;
	}

	//This stretches a child to fill all free space
	.flex {
		flex: 1;
	}
}